# Node
node_modules/
.next/
out/
build/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
instance/
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
